.containers {
  scroll-snap-points-y: repeat(100%);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 100vh;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
}

.bigText {
  font-size: 4vmax;
  font-weight: 900;
  color: var(--text);
}

.scrollText {
  font-size: 4vmax;
  font-weight: 900;
  scroll-snap-align: center;
  display: inline-flex;
  text-align: center;
  width: 100vw;
  justify-content: center;
  align-items: center;
  color: var(--text);
}

.aboutText {
  font-size: 2vmax;
  font-weight: 100;
  color: var(--text);
}
.textBox {
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  white-space: nowrap;
  font-size: 0;
  width: 100vw;
  top: 0;
  position: relative;
  text-align: center;
  vertical-align: middle;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.textBox::-webkit-scrollbar {
  display: none;
}

@keyframes scrollAnimation {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(2.3rem);
  }
}

.scroll {
  display: inline-flex;
  align-items: center;
  border: 2px solid #3c50ff;
  border-radius: 1rem;
  width: 3.5rem;
  height: 1.5rem;
}

.scroll::after {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  border-top: 2px solid #3c50ff;
  border-right: 2px solid #3c50ff;
  transform: rotate(45deg);
  margin-left: 0.5rem;
  animation: scroll 2s infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateX(0) rotate(45deg);
  }
  100% {
    opacity: 0;
    transform: translateX(1.5rem) rotate(45deg);
  }
}

.scrollContainer {
  scroll-snap-align: center;
  width: 100vw;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.halfContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  scroll-snap-align: center;
  align-items: center;
}
.leftContent {
  padding: 5rem;
}
.leftContent::-webkit-scrollbar {
  display: none;
}
.rightContent {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 5rem;
  background-color: #000000;
  color: black !important;
}
.halfContent {
  scroll-snap-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.markedOne {
  background: linear-gradient(45deg, #ff009c, #3c00ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.markedTwo {
  background: linear-gradient(45deg, #63ff84, #0087ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
