@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css");

:root {
  --background: #fff;
  --text: #000;
  --construction: #000;
  --constructionText: #ffd600;
  --hover: #00000020;
}

:root[data-theme="dark"] {
  --background: #000;
  --text: #fff;
  --construction: #ffd600;
  --constructionText: #000;
  --hover: #ffffff20;
}

body {
  background: var(--background);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.active {
  width: 100vw;
  height: 100vh;
}
a {
  text-decoration: none;
}

.active {
  width: 100vw !important;
  height: 100vh !important;
  padding: 5rem !important;
}

.active div {
  visibility: visible !important;
  opacity: 1 !important;
}
