.containers {
  scroll-snap-points-y: repeat(100%);
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5rem;
  scroll-snap-align: center;
}

.textBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 2rem;
}

.bigText {
  font-size: 4vmax;
  font-weight: 900;
  color: var(--text);
}

.aboutText {
  font-size: 2vmax;
  font-weight: 100;
  color: var(--text);
}

.contact {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
}

.contactBackground {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--text);
  border-radius: 0.5rem;
  padding: 0.3rem;
  fill: var(--background);
}

.contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mail {
  width: fit-content;
  height: fit-content;
  font-size: 1.5rem;
  font-weight: 100;
  color: black;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid black;
}
